.header {
  // padding: 85px 0 76px;
  padding: 5.66em 0 5em; // 75 / 15 from body parent = 5.66
  @include respond-to(large) {
    text-align: center;
  }
  &__title {
    @include respond-to(large) {
      font-size: 3.6rem;
    }
    span {
      font-weight: 600;
      @include respond-to(large) {
        display: block;
      }
    }
  }
  &__des {
    @include respond-to(large) {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}
